# estudodirigidopandas04 group by

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'A': ['verdadeiro', 'falso', 'verdadeiro', 'falso',
                        'verdadeiro', 'falso', 'verdadeiro', 'falso',],
                   'B': ['um', 'um', 'dois', 'três', 
                        'dois', 'dois', 'um', 'três'],
                   'C': np.random.randn(8),
                   'D': np.random.randn(8)})

In [3]:
df

            A     B         C         D
0  verdadeiro    um  0.525646  0.012793
1       falso    um  0.271913  2.049636
2  verdadeiro  dois -0.144655 -0.033728
3       falso  três -0.116672  0.477636
4  verdadeiro  dois  1.642282  0.225209
5       falso  dois  0.027998 -0.499062
6  verdadeiro    um  0.372502  1.223257
7       falso  três -0.656815 -2.676721

In [4]:
df.groupby(['A']).sum()

                   C         D
A
falso      -0.473577 -0.648511
verdadeiro  2.395775  1.427530

O groupby juntou todos os valores falso e verdadeiro e os somou, então temos coluna A com 2 valores e coluna C e D os valores foram somados.

In [5]:
df.groupby(['B']).sum()

             C         D
B
dois  1.525625 -0.307581
três -0.773488 -2.199085
um    1.170060  3.285686

já em B tem três categorias um dois e três. as colunas c e d foram somadas.

In [6]:
df.groupby(['A','B']).sum()

                        C         D
A          B
falso      dois  0.027998 -0.499062
           três -0.773488 -2.199085
           um    0.271913  2.049636
verdadeiro dois  1.497627  0.191480
           um    0.898148  1.236050

Nesse caso utilizamos 2 colunas A e B e temos as somas C e D