# ESTUDO PANDAS 15/02/2022 aula - 0

In [2]:
import numpy as np
import pandas as pd

In [3]:
datas = pd.date_range('20180101', periods= 6)

a função data_range gera datas a partir do primeiro valor, e tem diversas possibilidades de seleção de data. estudar site pandas essa função.

In [4]:
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

freq = D significa diariamente, caso coloque M seria mês e ano Y.

In [6]:

df = pd.DataFrame(np.random.randn(6,4), index = datas, columns = list("ABCD"))

Gerando data frame números aleatórios (6,4) com linhas como datas e colunas como lista.

In [7]:
df.head(6)

                   A         B         C         D
2018-01-01 -0.564758 -0.081880  0.006929 -0.057958
2018-01-02 -0.442357 -1.354681  0.358494  0.184178
2018-01-03  0.254107  1.158872  0.586878 -2.210663
2018-01-04  0.812882  0.158323 -1.113794  0.208539
2018-01-05  0.033163 -0.623802 -1.350122  0.440134
2018-01-06  1.007968  0.310470 -1.144118  0.949812

Agora vamos gerar um dataframe através de um dicionário.

In [9]:
df2 = pd.DataFrame({"A":7,
                    "B": pd.Timestamp("20190101"),
                    "C": pd.Series(1, index=list(range(4))),
                    "D": np.array([3]*4, dtype= 'int32'),
                    "E": pd.Categorical(['test', 'train', 'test', 'train']),
                    "F": 'python'})

In [12]:
df2.head(4)

   A          B  C  D      E       F
0  7 2019-01-01  1  3   test  python
1  7 2019-01-01  1  3  train  python
2  7 2019-01-01  1  3   test  python
3  7 2019-01-01  1  3  train  python

O DF acima mostra os valores na colunas e na legenda as chaves ABCDEF, no index não foi definido então por default segue enumeração.