# ESTUDO PANDAS 16/02/2022 aula - 2 - combinando Dataframes

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
   ...:                     'B': ['B0', 'B1', 'B2', 'B3'],
   ...:                     'C': ['C0', 'C1', 'C2', 'C3'],
   ...:                     'D': ['D0', 'D1', 'D2', 'D3']},
   ...:                     index=[0, 1, 2, 3])

In [3]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
   ...:                     'B': ['B4', 'B5', 'B6', 'B7'],
   ...:                     'C': ['C4', 'C5', 'C6', 'C7'],
   ...:                     'D': ['D4', 'D5', 'D6', 'D7']},
   ...:                      index=[4, 5, 6, 7])

In [4]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
   ...:                     'B': ['B8', 'B9', 'B10', 'B11'],
   ...:                     'C': ['C8', 'C9', 'C10', 'C11'],
   ...:                     'D': ['D8', 'D9', 'D10', 'D11']},
   ...:                     index=[8, 9, 10, 11])

Foi criado três data frames, abaixo segue informações.

In [7]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [8]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [9]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [10]:
frames = [df1, df2, df3]

Essa é a forma errada de concatenar data frames, visto que dessa maneira estamos criando uma lista.

In [11]:
frames

[    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2
 3  A3  B3  C3  D3,
     A   B   C   D
 4  A4  B4  C4  D4
 5  A5  B5  C5  D5
 6  A6  B6  C6  D6
 7  A7  B7  C7  D7,
       A    B    C    D
 8    A8   B8   C8   D8
 9    A9   B9   C9   D9
 10  A10  B10  C10  D10
 11  A11  B11  C11  D11]

In [12]:
type(frames)

list

In [13]:
framesCombinados = pd.concat(frames)

essa é uma das formas corretas de concatenar, veremos outras formas abaixo.

In [14]:
framesCombinados

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [15]:
type(framesCombinados)

pandas.core.frame.DataFrame

In [16]:
framesCombinados2 = pd.concat([df1,df2,df3])

outra maneira de usar função concat()

In [17]:
?pd.concat()

Object `pd.concat()` not found.

In [18]:
framesCombinados2

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [19]:
grupo = pd.concat([df1,df2,df3], keys=['f1','f2','f3'])

In [ ]:
Inserir chaves para criar subgrupos com data frame, dessa forma temos uma consulta personalizada usando loc(). veremos abaixo:

In [20]:
grupo

         A    B    C    D
f1 0    A0   B0   C0   D0
   1    A1   B1   C1   D1
   2    A2   B2   C2   D2
   3    A3   B3   C3   D3
f2 4    A4   B4   C4   D4
   5    A5   B5   C5   D5
   6    A6   B6   C6   D6
   7    A7   B7   C7   D7
f3 8    A8   B8   C8   D8
   9    A9   B9   C9   D9
   10  A10  B10  C10  D10
   11  A11  B11  C11  D11

In [21]:
grupo['A']

f1  0      A0
    1      A1
    2      A2
    3      A3
f2  4      A4
    5      A5
    6      A6
    7      A7
f3  8      A8
    9      A9
    10    A10
    11    A11
Name: A, dtype: object

In [22]:
grupo.loc['f1']

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
para usar loc precisamos nome data frame conexão com ponto e loc ['informar subgrupo']

# Outra maneira de concatenar

In [24]:
g2 = df1.append(df2)

In [25]:
g2

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [26]:
g2.append(df3)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [27]:
g4 = df1.append(df2).append(df3)

In [28]:
g4

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [29]:
s1 = pd.Series(['S0', 'S1', 'S2', 'S3'], name='Serie')

In [30]:
dg = pd.concat([df1, df2], axis=1)

In [ ]:
Quando se usa Axis =1 estamos informando que não estará no mesmo eixo das colunas, gerando tipos NAN nos valores vazios.

In [31]:
dg

     A    B    C    D    A    B    C    D
0   A0   B0   C0   D0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   A7   B7   C7   D7

In [32]:
dg2 = pd.concat([df1, s1, df2], axis=1)

In [33]:
dg2

     A    B    C    D Serie    A    B    C    D
0   A0   B0   C0   D0    S0  NaN  NaN  NaN  NaN
1   A1   B1   C1   D1    S1  NaN  NaN  NaN  NaN
2   A2   B2   C2   D2    S2  NaN  NaN  NaN  NaN
3   A3   B3   C3   D3    S3  NaN  NaN  NaN  NaN
4  NaN  NaN  NaN  NaN   NaN   A4   B4   C4   D4
5  NaN  NaN  NaN  NaN   NaN   A5   B5   C5   D5
6  NaN  NaN  NaN  NaN   NaN   A6   B6   C6   D6
7  NaN  NaN  NaN  NaN   NaN   A7   B7   C7   D7