# ESTUDO PANDAS 15/02/2022 aula - 1

In [0]:
import pandas as pd
import numpy as np

In [0]:
datas = pd.date_range('20190101', periods = 60, freq="D")

df = pd.DataFrame(np.random.randn(60,5), index = datas, columns = list("ABCDE"))

In [0]:
df.shape

(60, 5)

In [ ]:
A função shape informa quantidade de linhas e colunas.

In [0]:
df.head(3)

                   A         B         C         D         E
2019-01-01  0.283240  2.087325  0.630437  0.823570  1.481908
2019-01-02 -0.907074 -1.085694  1.052671  0.193518  2.641843
2019-01-03 -0.866348  0.004004  0.157186 -2.322046  0.845226

head() mostra as primeiras 5 linhas do dataframe, pode ser alterada a quantidade de acordo com número inserido nos parenteses.

In [ ]:
df['F'] = 1

Acima mostra como inserir uma coluna no data frame, e nomea-la Com nome 'F' e inserir valor 1 em todas as linhas

In [0]:
df.head(10)

                   A         B         C         D         E  F
2019-01-01  0.283240  2.087325  0.630437  0.823570  1.481908  1
2019-01-02 -0.907074 -1.085694  1.052671  0.193518  2.641843  1
2019-01-03 -0.866348  0.004004  0.157186 -2.322046  0.845226  1
2019-01-04 -1.076930 -1.300584  0.269075  0.909176 -0.051380  1
2019-01-05 -0.329528 -1.164994 -1.205827 -1.599072  1.517302  1
2019-01-06  1.151188 -2.169073  0.988045  0.975615 -1.321441  1
2019-01-07  0.061950 -0.750366 -0.785738  0.756398 -0.226247  1
2019-01-08  1.933775  0.306534  0.011139 -1.242399  0.751500  1
2019-01-09  0.878332 -1.160682  0.450558  0.407321 -1.159705  1
2019-01-10  1.203504  2.973628 -0.775590 -0.199750 -0.354775  1

In [0]:
df['G'] = range(60)

O range em python começa a contar no 0 e vai até 59, nesse caso foram inseridos 60 valores nas linhas sequencialmente na coluna G.

In [0]:
df.head(15)

                   A         B         C         D         E  F   G
2019-01-01  0.283240  2.087325  0.630437  0.823570  1.481908  1   0
2019-01-02 -0.907074 -1.085694  1.052671  0.193518  2.641843  1   1
2019-01-03 -0.866348  0.004004  0.157186 -2.322046  0.845226  1   2
2019-01-04 -1.076930 -1.300584  0.269075  0.909176 -0.051380  1   3
2019-01-05 -0.329528 -1.164994 -1.205827 -1.599072  1.517302  1   4
2019-01-06  1.151188 -2.169073  0.988045  0.975615 -1.321441  1   5
2019-01-07  0.061950 -0.750366 -0.785738  0.756398 -0.226247  1   6
2019-01-08  1.933775  0.306534  0.011139 -1.242399  0.751500  1   7
2019-01-09  0.878332 -1.160682  0.450558  0.407321 -1.159705  1   8
2019-01-10  1.203504  2.973628 -0.775590 -0.199750 -0.354775  1   9
2019-01-11  0.427712 -0.196403 -0.999341 -0.093749  0.306809  1  10
2019-01-12 -1.247855 -1.653086  0.539469 -0.807621  0.842675  1  11
2019-01-13  0.903308 -0.894699 -1.207401  2.181697 -0.600510  1  12
2019-01-14  1.395002  0.476635 -0.477514  1.145764 -1.428597  1  13
2019-01-15 -0.300930 -0.506677  0.674227  0.012049 -1.547659  1  14

In [0]:
df['Produto'] = df['A'] * df['B']

Na operação acima mostra como é a multiplicação de colunas com pandas, gerando valor da coluna produto.

In [0]:
df.head(3)

                   A         B         C         D         E  F  G   Produto
2019-01-01  0.283240  2.087325  0.630437  0.823570  1.481908  1  0  0.591213
2019-01-02 -0.907074 -1.085694  1.052671  0.193518  2.641843  1  1  0.984805
2019-01-03 -0.866348  0.004004  0.157186 -2.322046  0.845226  1  2 -0.003469

In [0]:
1.993602 * -0.706123

-1.407728225046

In [0]:
df['D'] = 88

acima aprensenta uma substituição do valor da coluna D.

In [0]:
df.head(3)

                   A         B         C   D         E  F  G   Produto
2019-01-01  0.283240  2.087325  0.630437  88  1.481908  1  0  0.591213
2019-01-02 -0.907074 -1.085694  1.052671  88  2.641843  1  1  0.984805
2019-01-03 -0.866348  0.004004  0.157186  88  0.845226  1  2 -0.003469

In [0]:
df.count()

A          60
B          60
C          60
D          60
E          60
F          60
G          60
Produto    60
dtype: int64

In [ ]:
A função count